 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Expense Tracker</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Syncfusion ASP.NET Core controls styles -->
    @* <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/28.1.33/material.css" /> *@
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/28.1.33/bootstrap5-dark.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTracker.styles.css" asp-append-version="true" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/28.1.33/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">
	<partial name="_SideBar" />

    <header>
        <nav class="navbar sticky-top">
            <div class="container-fluid py-2 px-4">
                <i class="fa-solid fa-magnifying-glass"></i>
                <div>
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-message"></i>
                    <img src="~/../../riel2.png" class="profile-pic" />
                </div>
            </div>
        </nav>
    </header>

    <div class="main-content">
        <div class="container mt-5">
        <div class="row justify-content-center">
			<div class="@(ViewData["isDashboard"] == null ? "col-md-10" : "col-md-12")">
                <main role="main" class="pb-3">
                    @if(ViewData["isDashboard"] == null)
                    {
                        <div class="row">
                        <div class="col-md-7">
                            <div class="d-flex flex-column mb-5">
                                <div class="d-flex mb-1">
                                    <div class="flex-grow-1">
								        <h3 class="fw-bold">@ViewData["PageTitle"]</h3>
                                    </div>
                                    <div class="no-a-decoration">
									    @if (ViewData["PageActionText"] != null)
									    {
										    <a class="btn btn-success no-a-decoration" style="color:white" href="@ViewData["PageActionUrl"]">@ViewData["PageActionText"]</a>
									    }
                                    </div>
                                </div>
                                @* breadcrumb *@
                                <ejs-breadcrumb id="breadcrumb" separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")"></ejs-breadcrumb>
                            </div>
                        </div>
                    </div>
                    }
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ExpenseTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
