@{
	ViewData["isDashboard"] = true;
}

@* summary widget *@
<div class="row mb-4">
	@* total income *@
	<div class="col-md-4">
		<div class="d-flex flex-row widget summary income">
		<div class="d-flex flex-column justify-content-center">
			<i class="fa-solid fa-dollar-sign fa-2xl"></i>
		</div>
		<div class="d-flex flex-column m-auto py-3">
			<span class="lead">Total Income</span>
			<h1 class="fw-bold display-6">@ViewBag.TotalIncome</h1>
		</div>
	</div>
	</div>
	@* total expense *@
	<div class="col-md-4">
		<div class="d-flex flex-row widget summary expense">
		<div class="d-flex flex-column justify-content-center">
			<i class="fa-solid fa-dollar-sign fa-2xl"></i>
		</div>
		<div class="d-flex flex-column m-auto py-3">
			<span class="lead">Total Expense</span>
			<h1 class="fw-bold display-6">@ViewBag.TotalExpense</h1>
		</div>
	</div>
	</div>
	@* balance *@
	<div class="col-md-4">
		<div class="d-flex flex-row widget summary balance">
		<div class="d-flex flex-column justify-content-center">
			<i class="fa-solid fa-dollar-sign fa-2xl"></i>
		</div>
		<div class="d-flex flex-column m-auto py-3">
			<span class="lead">Balance</span>
			<h1 class="fw-bold display-6">@ViewBag.Balance</h1>
		</div>
	</div>
	</div>
</div>

@* Donat and spline chart *@
<div class="row mb-4">
	@* donat chart *@
	<div class="col-md-4">
		<div class="widget chart">
			<div class="title p-4">
				<h5 class="fw-bold">Expense by Category</h5>
			</div>
			<ejs-accumulationchart id="donatChart" background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DonatChartData" xName="categoryTitleWithIcon" yName="amount"innerRadius="60%" legendShape="Circle" enableSmartLabels>
                        <e-accumulationseries-datalabel visible="true" name="formattedAmount"></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
				<e-accumulationchart-legendsettings visible="true" position="Top" toggleVisibility="true">
					<e-legendsettings-textstyle color="white" size="1rem"></e-legendsettings-textstyle>
				</e-accumulationchart-legendsettings>
				<e-accumulationchart-tooltipsettings enable="true" format="${point.x}: RM${point.y}"></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
		</div>
	</div>

	@* spline chart *@
	<div class="col-md-8">
		<div class="widget chart">
			<div class="title p-4">
				<h5 class="fw-bold">Expense vs Income</h5>
			</div>
			<ejs-chart id="splineChart" background="#1a222b"
					   @* palettes=@(new string[]{"#4caf50", "#f44336"}) *@
			>
				<e-chart-primaryxaxis valueType="Category">
					<e-majorgridlines width="0"></e-majorgridlines>
					<e-majorticklines width="1"></e-majorticklines>
				</e-chart-primaryxaxis>
				<e-chart-primaryyaxis>
					<e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
					<e-majorticklines width="0"></e-majorticklines>
					<e-linestyle width="0"></e-linestyle>
				</e-chart-primaryyaxis>
				<e-chart-chartarea>
					<e-chartarea-border width="0"></e-chartarea-border>
				</e-chart-chartarea>
				<e-series-collection>
					<e-series dataSource="@ViewBag.SplineChartData" xName="day" yName="income" type="Spline" name="Income" fill="#4caf50" width="3"></e-series>
					<e-series dataSource="@ViewBag.SplineChartData" xName="day" yName="expense" type="Spline" name="Expense" fill="#f44336" width="3"></e-series>
				</e-series-collection>
				<e-chart-legendsettings visible="true" position="Top" toggleVisibility="true">
					<e-legendsettings-textstyle color="white" size="1rem"></e-legendsettings-textstyle>
				</e-chart-legendsettings>
				<e-chart-tooltipsettings enable="true" shared></e-chart-tooltipsettings>
			</ejs-chart>
		</div>
	</div>
</div>

@* recent transactions *@
<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="title p-4">
				<h5 class="fw-bold">Recent Transactions</h5>
			</div>
			<div class="px-4 pb-4">
				<ejs-grid id="recent-transactions" dataSource="@ViewBag.RecentTransactions" gridLines="None" allowSorting="true" allowPaging="false">
				<e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
				<e-grid-columns>
					<e-grid-column field="Date" headerText="Date" width="110px" format="MMM-dd-yyyy"></e-grid-column>
					<e-grid-column field="Category.TitleWithIcon" headerText="Category" width="150px"></e-grid-column>
					<e-grid-column field="Amount" headerText="Amount" width="100px" format="c2"></e-grid-column>
					<e-grid-column field="Note" headerText="Note" width="150px"></e-grid-column>
				</e-grid-columns>
			</ejs-grid>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="widget h-100">
			<div class="d-flex justify-content-center align-items-center h-100">
			<span>
				<i class="fa-solid fa-plus fa-2xl"> Widget</i>
			</span>
		</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="https://cdn.syncfusion.com/ej2/ej2-locale/ej2-locale.js"></script>
	<script>
		// Load the Malaysia locale data
		ej.base.L10n.load({
			'ms-MY': {
				'grid': {
					'EmptyRecord': 'Tiada rekod untuk dipaparkan',
					'True': 'Benar',
					'False': 'Salah',
					'InvalidFilterMessage': 'Data penapis tidak sah',
					// Add other translations as needed
				},
				// Add other components' translations as needed
			}
		});

		// Set the culture and currency code
		ej.base.setCulture('ms-MY');
		ej.base.setCurrencyCode('MYR');
	</script>
}
